.paddingall {
    padding: 10px 10px 10px 10px;
}
.prisetitle {
    font-weight: 600;
}
.prisesubtitle {
    font-size: 14px;
}
.iconstyle {
    margin-top: 20px !important;
    margin-left: 20px !important;
    color: aliceblue !important
}

.iconstyleblack {
    margin-top: 20px !important;
    margin-left: 20px !important;
}
.iconstyleblack {
    margin-top: 20px !important;
    margin-left: 20px !important;
}
.firstdiv{
    /* background: rgb(40,34,70); */
    /* background: linear-gradient(158deg, rgba(40,34,70,1) 0%, rgba(30,47,141,1) 100%); */
    background-color: #25265d !important;
    color: #ffffff !important;
}
.secounddiv{
    /* background: rgb(53,138,148); */
    /* background: linear-gradient(158deg, rgba(53,138,148,1) 0%, rgba(91,180,96,1) 100%); */
    background-color: #419883 !important;
    color: #ffffff !important;
}
.bgcolor{
    min-height: 100vh;
    background-color: #ECEFF1 !important;
}